@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Bold.woff2") format("woff2"),
    url("./Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-SemiBold.woff2") format("woff2"),
    url("./Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("./PTSerif-Bold.woff2") format("woff2"),
    url("./PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("./PTSerif-Regular.woff2") format("woff2"),
    url("./PTSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Medium.woff2") format("woff2"),
    url("./Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
