* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}

img {
  user-select: none;
}

/* Accessibility: visually hidden but still available to screen readers */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
  border: 0;
  padding: 0;
  margin: -1px;
}

.welcome-heading {
  position: relative;
}

.welcome-heading::after {
  content: "";
  max-width: 300px;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  display: block;
  background-color: var(--color-amber-300);
}

.poster-img {
  aspect-ratio: 4/6;
  object-fit: cover;
  border-radius: 15px;
}

.selected {
  background: var(--color-active);
}

.winner-name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
}

.button,
.podium-btn {
  padding: 10px 30px;
  background-color: rgba(202, 230, 192, 0.6);
  border: 2px solid #badfdb;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover,
.podium-btn:hover {
  transform: scale(1.05);
  background-color: rgba(202, 230, 192, 0.8);
}

.button:active {
  transform: scale(0.8);
}

.podium-btn {
  padding: 10px;
  border-radius: 50%;
}
