@import "tailwindcss";

@theme {
  --font-pt-serif: "PT Serif", serif;
  --font-railway: "Railway", sans-serif;
  --color-background: #121212;
  --color-white: #fffbeb;
  --color-dark: #1e1e1e;
  --color-active: #cae6c0;
}
